.nav-list {
	display: flex;
	list-style: none;
	justify-content: space-evenly;
    width: clamp(400px, 50vw, 1500px);
}
.nav-list-container {
    display: flex;
    justify-content: center;
}
.nav-list li{
    padding: 10px 0;
}

