.race-card {
	--card-width: clamp(200px, 30vw, 300px);
	--icon-width: clamp(50px, 1vw, 70px);
	--card-padding: 20px;
	--border-radius: calc(0.5 * var(--icon-width));
	--card-heading-font-size: 3rem;
	--brightness-value: 0.5;
	position: relative;
	width: var(--card-width);
	height: auto;
	aspect-ratio: 2/3;
	color: white;
	background-color: transparent;
	background-color: rgba(
		calc(var(--brightness-value) * 0.25 * 255),
		calc(var(--brightness-value) * 0.25 * 255),
		calc(var(--brightness-value) * 0.25 * 255),
		0.5
	);
	border-radius: var(--border-radius);
	isolation: isolate;
	flex-grow: 0;
}

.race-card-image {
	border-radius: var(--border-radius);
	max-width: 100%;
	display: block;
	position: absolute;
	inset: 0;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
	opacity: var(--brightness-value);
	filter: brightness(var(--brightness-value));
	z-index: -1;
}

.card-list {
	display: flex;
	row-gap: 30px;
	column-gap: 20px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 30px;
}
.race-header,
.race-header select {
	--heading-font-size: 2.5rem;
	font-size: var(--heading-font-size);
}
.race-header {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 5px;
}
.race-card-title {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	padding-bottom: var(--card-padding);
}
.race-card-title::after {
	content: "";
	position: absolute;
	left: calc(var(--card-padding) * -0.5);
	height: 100%;
	height: calc(100% + var(--card-padding) * 0.5);
	width: calc(100% + var(--card-padding) * 0.5);
	background-color: hsla(0, 0%, 0%, 0.783);
	border-radius: var(--border-radius);
	z-index: -1;
}
.race-card-title span {
	font-size: calc(0.5 * var(--card-heading-font-size));
	margin-left: var(--icon-width);
}
.race-card-details{
}
.race-card h4 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: calc(0.5 * var(--card-heading-font-size));
}
.race-card h4 div {
	font-style: italic;
}
.race-card svg {
	height: var(--icon-width);
	font-size: var(--card-heading-font-size);
	width: var(--icon-width);
	position: absolute;
	top: 0;
	top: calc(var(--card-padding) * -0.25);
	left: 0;
}
.race-card-content {
	padding: var(--card-padding);
}
.results {
	display: flex;
	align-items: center;
	justify-content: end;
}
.results button {
	font-size: calc(0.5 * var(--card-heading-font-size));
}
@media screen and (max-width: 700px) {
	.race-card {
		--card-width: clamp(300px, 80vw, 400px);
		aspect-ratio: auto;
	}
}
